<html>
<head>
    <title>About
    </title>
    <link rel="stylesheet" type = "text/css" href= "CSS/userInfo.css"/>
</head>
<body>
    <% include Template/header %>
    <div class="my-format" >
    <h1>About </h1>
    <h3> This is a website built by Eric</h3>
</div>
</body>
</html>