<html>
<head>
    <title>About
    </title>
    <link rel="stylesheet" type = "text/css" href= "CSS/userInfo.css"/>
    <script scr="test.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
    <% include Template/header %>
    <div class="my-format" >
    <h1>About </h1>
    <div id = "test"></div>
    <h3> This is a website built by Eric</h3>
</div>
</body>
<footer>
    <% include Template/footer %>
</footer>
</html>