<html>
<head>
    <title>Error</title>
    <link href="CSS/userInfo.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div >
        <h1 style="color: aliceblue;"align="center"> <%= Error %> </h1>
    </div>
</body>


</html>