<html>
<head>
    <title>welcome to my account</title>
    <link rel="stylesheet" type = "text/css" href= "CSS/userInfo.css"/>
    
</head>
    <body>
            <header> <% include Template/header %></header>
        <div class="login">
            <h1> Hello <%=account %></h1>
        </div>
        </body>
<footer>
      <% include Template/footer %>
</footer>
</html>