<html>
<head>
    <title>welcome to my account</title>
    <link rel="stylesheet" type = "text/css" href= "CSS/userInfo.css"/>
    
</head>
    <body>
            <header> <% include Template/header %></header>
        <div class="login">
            <h1> <%=account %></h1>
        </div>
        </body>
<footer>
        <audio class="bt-play" controls
            autoplay="true" loop
        >
                <source src=<%= audioSrc%> type="audio/mpeg">
              </audio>
</footer>
</html>