<html>
<head>
    <title>welcome to my account</title>
    <link rel="stylesheet" type = "text/css" href= "CSS/userInfo.css"/>
</head>
    <body>
            <header> <% include Template/header %></header>
        <div class="login">
            <h1> <%=account %></h1>
        </div>
            <ul>
                <form>
                <% for(var i=0;i<5;i++){ %>
                    <li style="color: aquamarine;                    
                    "> Test </li>
                <% } %>
            </form>
            </ul>


        </body>

</html>