<html>
<head>
    <title>My note</title>
    <link rel="stylesheet" type = "text/css" href= "CSS/userInfo.css"/>
</head>
<body>
    <% include Template/header  %>
    <div >
        <h1 style="color: aliceblue;">My note</h1>
    </div>
</body>
    




</html>