ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  .account {
      float: right;
      text-align: center;
      color: aliceblue;
      margin-right: 20px;
      align-content: center;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .bt-play{
    float: right;
    right: 20;
    bottom:0;
    padding-right: 20;
    margin: 10px;
  }