
       <link href="CSS/navbar.css" rel="stylesheet" type="text/css"    />
       <ul>
          <li><a href="#myAccount">Home</a></li>
          <li><a href="myNote">My notes</a></li>
          <li><a href="about">About</a></li>   
          <li class="account">  <a href="#"><%=account %> </a> </li>
        </ul>
        

